@model IEnumerable<In_Mgmt.Models.Container>

@{
    ViewBag.Title = "Index";
}

<h2>Container</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ContainerCode
        </th>
        <th>
            Name
        </th>
        <th>
            Max_Capacity
        </th>
        <th>
            DateCreated
        </th>
        <th>
            UOM
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContainerCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Max_Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UOM.UOM_Code)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContainerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContainerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContainerID })
        </td>
    </tr>
}

</table>
